<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="row">
      <div class="currentday col col-lg-6">
        <h4>Your match for today</h4>
        <p>name</p>
      </div>

      <div class="lastdays col col-lg-6">
        <h4>matches of previous days</h4>
      <p>day</p> <p>name</p>
      <p>day</p> <p>name</p>
      <p>day</p> <p>name</p>
      <p>day</p> <p>name</p>
      <p>day</p> <p>name</p>
      </div>
</div>


</body>
</html>
