




<div class="row ground users">
      <div class="currentday col col-lg-6">
        <h4 class="all">Your match for today!</h4>
        <h1 class="all"> Name </h1>
      </div>

      <div class="lastdays col col-lg-6 ground">
        <div class="row">
        <h4 class="all">Your Matches of previous days</h4>
      <div class="col col-lg-6">
        <!-- <p>name</p>
          <p>name</p>
            <p>name</p>
              <p>name</p>
                <p>name</p> -->
                <% @match.length.times do |index| %>
                <% index = index + 1 %> <br>
                <%= index %> <%= @student1 %>  <%= @match.shuffle.first %>
                <% end %>

      </div>
        <div class="col col-lg-6">
          <!-- <p>day</p>
            <p>day</p>
              <p>day</p>
                <p>day</p>
                  <p>day</p> -->
        </div>
      </div>
    </div>
</div>
