.users {
  background-color: white;
  padding: 10px;
  border: black 3px solid;
  margin: 5px;
}

.couples {
  background-color: white;
  padding: 10px;
  border: black 3px solid;
  margin: 5px;
}

.generate {
  background-color: white;
  padding: 10px;
  border: black 3px solid;
  margin: 10px;
}
