
.users {
  background-color: white;
  padding: 10px;
  border: black 3px solid;
  margin: 5px;
}

.couples {
  background-color: white;
  padding: 10px;
  border: black 3px solid;
  margin: 5px;
}

.generate {
  background-color: white;
  padding: 10px;
  border: black 3px solid;
  margin: 10px;
}
#name {
background-color: silver;
padding: 3px;
border: black 1px solid;
margin: 1px;
}

#level {
  background-color: lightblue;
  padding: 3px;
  border: black 1px solid;
  margin: 1px;
}

.knop {

}

.all {
  text-align: center;
  color: lightblue;
  text-shadow: -2px 0 grey, 0 2px brown, 2px 0 grey, 0 -2px brown;
  padding-bottom: 10px;
}

.ground {
  background-color: #fff2ed;
}

.height {
  height: 200px;
}
